@import "main.css";




/* Header parameters */

header {
    grid-row: 1/2;
    grid-column: 1/-1;
    width: 100%;
    display: grid;
    grid-template-columns: var(--width-sidebar) calc(80% - var(--width-sidebar)) 20%;
    border-bottom: 2px solid black;
    background-color: var(--header-bckg);
}

header #title-page {
    display: flex;
    justify-self: center;
}

header h1 {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: .4rem;
    
}

header h1 span {
    font-size: 2rem;
    margin-top: .2rem;
}

header #btn-show-sb {
    justify-self: center;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: bold;
    font-size: 2rem;
    width: 2.2rem;
}

header #btn-show-sb.active {
    font-weight: bold;
    border-bottom: 2px solid black;
    font-size: 1.2rem;
    cursor: default;
}

header #btn-show-sb:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

header .icon {
    width: 3rem;
}

header .reset {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .4rem;
}

header .reset button {
    background-color: red;
    color: aliceblue;
    font-size: .7rem;
    border-radius: 50%;
    padding: .5rem;
    border: 1px solid black;
    cursor: pointer;
}